<div>

    {% for article in articles %}
    <img src= {{ article.image }} width="250" height="200">
    {{article.name}}
    {{article.price }} €
    {% endfor %}
    <a href="{{ path('app_register')}}"> register </a>
    <a href="{{ path('login')}}"> login </a>
    <form method="post" accept-charset="UTF-8" action="/search">
        <input type="text" name="search" placeholder="recherche">
        <input type="submit">
    </form>
    
    <publicationDate>
</div>