{% extends 'base.html.twig' %}

{% block title %}GOLDMAN - {{ article.name }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
    <link rel="stylesheet" href="{{ asset('css/detail.css') }}">
{% endblock %}

{% block body %}
    {% include 'partials/header.html.twig' %}

    <main class="detail-page">
        <div class="detail-container">
            <div class="article-image">
                <img class="pdp"src="{{ asset('uploads/images/articles/' ~ article.image) }}" alt="{{ article.name }}">
            </div>

            <div class="article-info">
                <h1 class="article-title">
                    <span {% if editable %}contenteditable="true"{% endif %} id="name">{{ article.name }}</span>
                </h1>

                <div class="article-meta">
                    <p>{{ 'published'|trans({}, 'index_page')|raw }}{{ article.publicationDate|date('d/m/Y') }}</p>
                    <div class="seller-info">
                        <div class="seller-image">
                        <a href="/account?uid={{ app.user.uid }}"><img src="{{ asset('uploads/images/profilPicture/' ~ app.user.profilePicture) }}" ></a>
                        </div>
                        <p>{{ 'by'|trans({}, 'index_page')|raw }}{{ article.CreatorID.username }}</p>
                    </div>
                </div>

                <div class="article-description">
                    <h2>Description</h2>
                    <p {% if editable %}contenteditable="true"{% endif %} id="description">{{ article.description }}</p>
                </div>

                <div class="article-price">
                    <span {% if editable %}contenteditable="true"{% endif %} id="price">{{ article.price }}</span> €
                </div>

                <div class="article-stock">
                    <h3>Stock</h3>
                    {% if article.stock %}
                        <p>{{ 'available'|trans({}, 'index_page')|raw }}{{ article.stock.nbStock }}</p>
                    {% else %}
                        <p>{{ 'not_available'|trans({}, 'index_page')|raw }}</p>
                    {% endif %}
                </div>

                <div class="article-actions">
                    {% if app.user and app.user != article.creatorID %}
                        <form action="{{ path('app_add_to_cart', {uid: article.uid}) }}" method="POST">
                            <button type="submit" class="add-to-cart-button">{{ 'add_cart'|trans({}, 'index_page')|raw }}</button>
                        </form>
                    {% elseif app.user %}
                        <p class="warning-message">{{ 'warning'|trans({}, 'index_page')|raw }}</p>
                    {% endif %}

                    {% if editable %}
                        <div class="edit-actions">
                            <button id="save" class="save-button" style="display:none;" data-uid={{article.uid}} onclick="Save()">
                                <i class="fas fa-save"></i> {{ 'save'|trans({}, 'index_page')|raw }}
                            </button>
                            <button id="delete" class="delete-button" data-uid={{article.uid}} onclick="Delete(this)">
                                <i class="fas fa-trash"></i> {{ 'delete'|trans({}, 'index_page')|raw }}
                            </button>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>

    {% include 'partials/footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/editArticleGestion.js') }}"></script>
{% endblock %}
