{% extends 'base.html.twig' %}

{% block title %}{{ 'admin_user_goldman'|trans({}, 'admin_page')|raw }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}

{% block body %}
    {% include 'partials/header.html.twig' %}

    <main class="admin-page">
        <div class="admin-container">
            <div class="admin-header">
                {{ 'user_management'|trans({}, 'admin_page')|raw }}
            </div>

            <div class="users-grid">
                {% for user in users %}
                    <div class="user-card">
                        <div class="user-info">
                            <h2 class="username">{{ user.username }}</h2>
                            <p class="email">{{ user.email }}</p>
                            <p class="role">{{ user.roles[0] }}</p>
                        </div>
                        <div class="user-actions">
                            <button class="admin-button" data-uid="{{user.uid}}" onclick="SwitchAdmin(this)">
                                {% if user.roles[0] == "ROLE_ADMIN" %}
                                    <i class="fas fa-user-minus"></i> {{ 'delete'|trans({}, 'admin_page')|raw }}
                                {% else %}
                                    <i class="fas fa-user-plus"></i> {{ 'add'|trans({}, 'admin_page')|raw }}
                                {% endif %}
                            </button>
                            <button class="delete-button" data-uid="{{user.uid}}" onclick="Delete(this)">
                                <i class="fas fa-trash"></i> {{ 'delete_button'|trans({}, 'admin_page')|raw }}
                            </button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>

    {% include 'partials/footer.html.twig' %}
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/adminGestion.js') }}"></script>
{% endblock %}
