<div>

    {% for article in articles %}
    <a href="{{ path('app_detail', { 'uid' : article.uid })}}"><img src= {{ article.image }} width="250" height="200""></a>
    {{article.name}}
    {{article.price }} €
    {% endfor %}

    {%- if visible_first == true -%}
    <a href="{{ path('article_view', { 'id' : id - 1 })}}"> < </a>
    {% endif %}
    {%- if visible_endless == true -%}
    <a href="{{ path('article_view', { 'id' : id + 1 })}}"> > </a>
    {% endif %}
</div>
<input type="text" id="search" name="search" placeholder="recherche">
<input type="submit" onclick="Search()">
<script src="{{ asset('js/search.js') }}"></script>