<div>

    {% for article in articles %}
    <img src= {{ article.image }} width="250" height="200"">
    {{article.name}}
    {{article.price }} €
    <a href="{{ path('app_detail', { 'uid' : article.uid })}}"> detail </a>
    {% endfor %}

    {%- if visible_first == true -%}
    <a href="{{ path('article_view', { 'id' : id - 1 })}}"> < </a>
    {% endif %}
    {%- if visible_endless == true -%}
    <a href="{{ path('article_view', { 'id' : id + 1 })}}"> > </a>
    {% endif %}
</div>